
.container{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 350px;
    position: absolute;
    top: 200px;
    left: 550px;
    justify-content: space-between;
    background-color: white;
    
}
input{
    height: 50px; width: 338px;
    text-align: right;
    background-color: black;
    color: white;
    font-size: 25px;
   
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}
button{
    height: 40px;
    width: 80px;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
}

